<!DOCTYPE html>
<html>
<head>
    <title>Fake Review Detector</title>
</head>
<body style="font-family: Arial; margin: 30px;">
    <h2>Fake Product Review Detection</h2>
    <form method="post" action="/predict">
        <textarea name="review" rows="5" cols="50" placeholder="Enter your review here..."></textarea><br><br>
        <input type="submit" value="Check Review">
    </form>

    {% if review %}
        <h3>Review Entered:</h3>
        <p>{{ review }}</p>
        <h3>Prediction:</h3>
        <p style="color:blue;">{{ prediction }}</p>
    {% endif %}
</body>
</html>
